html,
body {
    height: 100%;
}
body {
    background-color: #ffffff;
    color: #968170;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.navbar-header img,
.logo img {
    max-width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Bree Serif', 'Roboto', serif;
}
.bottom-xl {
    padding-bottom: 100px !important;
}
.bottom-lg {
    padding-bottom: 70px !important;
}
.bottom-md {
    padding-bottom: 40px !important;
}
.bottom-sm {
    padding-bottom: 15px !important;
}
a{
    color: #968170;
}
a:hover{
    color: #3c292c;
}
a:focus{
    color: #3c292c;
}
.white {
    color: #fff !important;
}
.active {
    color: #3c292c !important;
}
.fueller {
    background-color: transparent;
    height: 196px !important;
}
.container-4 a:hover {
    text-decoration: none;
}
.dropdown-menu {
    text-align: left;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.table-row {
    display: table;
    table-layout: fixed;
    margin-bottom: 80px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.table-row [class^="col-"] {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.mozilla .table-row [class^="col-"] {
    margin-left: -5px;
}

/*------Header-----*/
.head {
    height: auto;
    width: 100%;
    padding: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
}
.head.affix {
    position: fixed;
    top: -130px;
}
.logo {
    margin-top: 20px;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.affix .logo {
    opacity: 0;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #968170;
    display: block;
    padding: 0 30px;
}
.navbar-default .navbar-nav > li a:hover {
    text-decoration: none;
}
.navbar-default .navbar-nav > li.affix-link {
    width: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.affix .navbar-default .navbar-nav > li.affix-link {
    opacity: 1;
    width: 180px;
}
.navbar-default .navbar-nav  .active > a,
.navbar-default .navbar-nav  .active  a:focus,
.navbar-default .navbar-nav  .active  a:hover{
    color: #3c292c;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,.nav li a:hover {
    background: none;
    background-color: none;
}
.site-navigation{
    background-color: rgba(255,255,255,0.95) !important;
    border: none;
    width: 100%;
}
.navbar-nav {
    text-align: center;
    float: none;
    transition: all 0.3s linear;

}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
.navbar-default .navbar-nav > li > ul {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > ul > li > a {
    padding: 10px 20px;
    border-top: 1px dotted rgba(0,0,0,0.15);
    color: #777;
}
.navbar-default .navbar-nav > li > ul > li:first-child > a {
    border-top: 0;
}
.navbar-default .navbar-nav > li > ul > li > ul {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 10px;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a {
    display: block;
    padding: 5px 20px 5px 32px;
}
.navbar-default .navbar-nav > li > ul > li > ul > li > a:before {
    content: 'â¬"';
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: -12px;
}
.dropdown-menu li > a:focus,
.dropdown-menu li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #f4f2f0;
}


.trenner {
    margin-top: 13px;
}
.inline {
    text-align: center;
    padding-top: 2px;
    text-decoration: none;
    color: #fff !important;
}
.inline li a:hover {
    text-decoration: none;
    font-weight: 400;
    color: #fff !important;
}
/*------Slider-----*/
.slider {
    width: 100%;
    height: 500px;
    display: block;
    background-size: cover !important;
}
.slider2, .slider3 {
    background: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    display: block;
    background-size: cover !important;
    border-top: 2px solid #968170 !important;
    border-bottom: 2px solid #968170 !important;
}
.slider3 {
    height: 250px;
}
/*------breadcrump-----*/
#breadcrump {
    margin-top: -50px;
    background: rgba(255,255,255,0.7);
    padding-top:15px;
    padding-bottom:15px;
}

#breadcrump a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #968170 !important;
    font-size: 15px;
    font-weight: 400;
    padding:10px 5px;
}

#breadcrump a:hover,
#breadcrump a.breadcrump {
    color: #3c292c !important;
    text-decoration: none;
}

/*------Einleitung-----*/
.einleitung h1, .einleitung h2 {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 300;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
.border {
    border: 1px solid #968170;
    margin: 20px 0px;
    z-index: 1;
}
.einleitung-text {
    text-align: center;
    z-index: 1;
}
.einleitung-text a {
    text-decoration: underline;
}
/*------Leistung-----*/
.bg-leistung {
    height: auto;
    padding-top: 50px;
    background-color: #f4f2f0;
}
#leistung h1 {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:40px;
}
#leistung h2 {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom:40px;
    text-align: center;
}
.kachel {
    margin-bottom: 50px;
}
.kachel img {
    width: 100%;
    height: auto;
}
.kachel h2,
#leistung .kachel h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;

    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.kachel h3 {
    font-family: 'Source Sans', serif;
    font-size: 20px;
    font-weight: 300 ;
    text-transform: uppercase;
    margin-top: 30px;

    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.kachel p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3c292c !important;
    font-size: 15px;
    font-weight: 600;
}
.kachel ul {
    margin-bottom: 20px;
    padding-left: 20px;
}
.kachel ul li {
    color: #3c292c;
    font-size: 15px;
    font-weight: 400;
}
.kachel a{
    color: #968170;
    font-size: 15px;
    display: block;
}
.kachel a:hover{
    color: #3c292c !important;
    text-decoration: none;
}
.kachel .kachel-inner {
    background-color: #FFFFFF;
    padding: 20px;
    height: 100%;
}
.kachel .link-text {
    text-decoration: underline;
}
.pk {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:40px;
}
/*------Deatail-----*/

.detail-text{
    text-align: justify;
    margin: 50px 0px 50px 0px;
}

#vorteile h2{
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 300;
    margin-top:40px;
    text-align: center;
    text-transform: uppercase;
}

.bg-detail {
    background: #f4f2f0 !important;
}

/*------Aktuelles-----*/
#aktuelles {
    margin-top: 50px;
}

.aktuelles {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
#aktuelles h2 {
    font-family: 'Open Sans', sans serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px !important;
}
#aktuelles p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3c292c !important;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px !important;
}
#aktuelles p a{
    text-decoration: underline;
}
.aktuell ul li {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3c292c !important;
    font-size: 15px;
    font-weight: 400;
    margin-left: -20px !important;
}
.aktuell a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #968170 !important;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none !important;
}
.aktuell a:hover{
    text-decoration: none !important;
    color: #3c292c !important;
}

/*------Footer-----*/

.footer ul{
    margin-left: -35px;
}
.footer ul li{
    display: inline-block;
    float: none;
}
.footer a{
    text-decoration: none;
}
.einrueckung {
    margin-left: -15px
}
.bg-footer {
    height: auto;
    padding-top: 50px;
    background-color: #f4f2f0;
}

#unternehmen h1 {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 300;
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:40px;
    z-index: 1;
}

/*------Contact-----*/
#contact h2 {
    font-family: 'Source Sans', serif;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:40px;
}
.border {
    border: 1px solid #968170;
    margin: 20px 0px;
}
.contact-text {
    text-align: center;
}
.contact-text a {
    text-align: center;
    text-decoration: none;
}
.icn {
    font-size: 3em !important;
}
.icn-size {
    font-size: 2em;
}
.abstand {
    margin-left: 20px !important;
}
#map {
    width: 100%;
    height: 500px;
}
.form-control:focus {
    border-color: #968170 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 129, 112, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 129, 112, .6);
}

.sticky-sidebar {
    position: fixed;
    top: 350px;
    z-index: 1000;
    display: block;
}
.sticky-sidebar p {
    position: relative;
    margin-left: -43px;
    margin-bottom: 37px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sticky-sidebar p a {
    background-color: #968170;
    color: #FFFFFF;
    padding: 10px 16px 4px 16px;
    border-radius: 4px;
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    display: block;
    position: relative;
    text-decoration: none;
    width: 120px;
}

/*------Team-----*/
.mt {
    margin-top: 60px !important;
}

.team {
    margin-bottom: 20px;
}
.team img {
    width: 100%;
    height: auto;
}
.team h3 {
    font-family: 'Source Sans', serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}
.team p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3c292c !important;
    font-size: 15px;
    font-weight: 400;
}
.team  {
    margin-bottom: 40px !important;
}
.team ul li {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3c292c !important;
    font-size: 15px;
    font-weight: 400;
    margin-left: -20px !important;
}
.team a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #968170 !important;
    font-size: 15px;
    font-weight: 400;
}
.team a:hover{
    color: #3c292c !important;
    text-decoration: none;
}
.last  {
    margin-left: 15px;
}
.ml {
    margin-left: 70px;
}
/*------Suche-----*/
.suche h2 {
    font-family: 'Source Sans', serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}
.suche p {
    text-align: justify;
}
.suche {
    border-top: 1px dotted #968170;
    padding-top: 15px;
    margin-top: 15px;
}
@media(max-width:767px){
    body {
        padding-top: 70px;
    }

    .table-row [class^="col-"] {
        width: 100%;
    }

    /*------Header-----*/
    .head {
        position: fixed;
    }
    .navbar-header {
        padding: 10px 15px;
    }
    .navbar-default .navbar-toggle {
        margin-right: 0;
        border-radius: 0;
        color: #968170;
        border: 1px solid #968170;
        padding: 14px 10px;
        margin: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #968170;
    }
    .logo {
        margin: 0;
    }
    .navbar-default .navbar-nav {
        text-align: left;
        margin-top: 0;
    }
    .navbar-default .navbar-nav > li {
        width: 100%;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.15);
    }
    .navbar-default .navbar-nav > li > a {
        line-height: 1;
        display: block;
        padding: 15px 15px;
        background: transparent;
    }
    .navbar-default .navbar-nav > li > .dropwdown-toggle {
        line-height: 1;
        display: block;
        padding: 9px 14px 10px 13px;
        margin-right: 15px;
        margin-top: 5px;
        position: relative;
        z-index: 1;
        color: #968170;
        border: 1px solid #968170;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu {
        width: 100%;
        position: relative;
        padding: 0 15px;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a,
    .navbar-default .navbar-nav > li > .dropdown-menu > li:first-child > a {
        display: block;
        padding: 10px 5px;
        border-top: 1px dotted rgba(0,0,0,0.15);
    }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > ul {
        padding: 0 0 0 5px;
        margin-top: -5px;
        margin-bottom: 5px;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > ul > li > a {
        display: block;
        padding: 5px 0px;
    }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > ul > li > a:before {
        content: 'â¬"';
        position: relative;
        display: inline-block;
        margin-right: 5px;
        margin-left: 10px;
    }
    /*------Slider-----*/
    .slider {
        height: 200px;
    }
    .slider2, .slider3 {
        width: 100%;
        height: 200px;
        display: block;
        background-size: cover !important;
        border-top: 2px solid #968170 !important;
        border-bottom: 2px solid #968170 !important;
    }
    .slider3 {
        height: 150px;
    }
    /*------Einleitung-----*/
    .einleitung h1{
        font-size: 20px;
        margin-top: 50px;
    }
    .einleitung-text {
        font-size: 15px;
        text-align: justify;
    }
    /*------Leistung-----*/
    .bg-leistung {
        padding-top: 50px;
    }
    #leistung h1 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 50px;
    }
    #leistung h2 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 50px;
    }

    /*------Aktuelles-----*/
    #aktuelles {
        margin-top:50px;
        text-align: center !important;
    }
    .aktuelles {
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    #aktuelles h2 {
        font-family: 'Source Sans', serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
    }
    #aktuelles p{
        text-align: left;
        width: 100%;
    }
    .aktuell ul li {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
        margin-left: -20px !important;
    }
    .aktuell a{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #968170 !important;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        margin-bottom: 20px;
    }
    .ausrichtung {
        text-align: center !important;
    }
    .btr {
        width: 100%;
        border-bottom: 1px solid #968170;
        float: none;
        padding-bottom: 30px;
    }
    .la {
        border-bottom: none !important;
        padding-bottom: 0px !important;
    }
    .btl {
        width: 100%;
        border-bottom: 1px solid #968170;
        float: none;
        padding-bottom: 30px;
    }
    .aktuell img {
        width: 100%;
        height: auto;
    }
    /*------Footer-----*/

    .footer ul{
        margin-left: 0px;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer ul li{
        display: inline-block;
        float: none;
        text-align: center;
    }
    .footer a{
        text-decoration: none;
    }
    .einrueckung {
        margin-left: 0px;
    }
    .bg-footer {
        height: auto;
        padding-top: 50px;
        background-color: #f4f2f0;
    }
    .mt {
        margin-top: 60px !important;
    }

    .team {
        margin-bottom: 20px;
        text-align: center;
    }
    .team img {
        width: 100%;
        height: auto;
    }
    .team h3 {
        font-family: 'Source Sans', serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .team p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
    }
    .team  {
        margin-bottom: 40px !important;
    }
    .team1 {
        margin-bottom: 20px;
        text-align: center;
    }
    .team ul li {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
        margin-left: -20px !important;
    }
    .team a{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #968170 !important;
        font-size: 15px;
        font-weight: 400;
    }
    .team a:hover{
        color: #3c292c !important;
        text-decoration: none;
    }
    .last  {
        margin-left: 15px;
    }
    .ml {
        margin-left: 0px;
    }

    #contact h1 {
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .contact h3{
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 300;
        margin-top: 70px;
        text-align: center;
        text-transform: uppercase;
    }
    .border {
        border: 1px solid #968170;
        margin: 20px 0px;
    }
    .contact {
        color:#968170!important;
        font-weight: 400;
        margin-left: 0px;
        margin-top: 0px;
        padding: 10px 10px 10px 65px;
        border-right: 1px solid #fff;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff !important;
    }
    .mobile-service a {
        color: #fff;
        font-weight: 400;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0px;
        background: #968170;
        padding: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 1px;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }
    .mobile-service .border-right a {
        border-right: 1px solid #FFF;
    }
    .mobile-service a .icon-search {
        display: inline-block;
        font-size: 18px;
    }
    #suche .expand {
        background: transparent;
    }
    #suche .expand .search-button {
        width: 15%;
        background: #968170;
        border: 0;
        margin-top: -1px;
        padding: 18px 0;
        text-align: center;
    }
    #suche .expand .search-button .icon-search {
        display: inline-block;
        font-size: 18px;
    }
    .contact a {
        color: #fff !important;
        margin-left: 50px;
        margin-top: 10px;
        background: #968170;
    }
    .contact a:hover {
        color: #fff !important;
        margin-left: 50px;
        margin-top: 10px;
        background: #968170;
        text-decoration: none;
    }
    .contact-text {
        color: #968170;
        text-align: center;
    }
    .contact-text a {
        text-align: center;
        text-decoration: none;
    }
    .icn {
        font-size: 3em !important;
    }
    .icn-size {
        font-size: 2em;
    }
    .abstand {
        margin-left: 20px !important;
    }
    #map {
        width: 100%;
        height: 200px;
    }
    .form-control:focus {
        border-color: #968170 !important;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 129, 112, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 129, 112, .6);
    }
    footer .text-right {
        text-align: center !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        padding: 0 10px;
        font-size: 15px;
    }

    .navbar-default .navbar-nav > li.dropdown > a {
        padding-right: 35px;
    }
    .navbar-default .navbar-nav > li > .dropwdown-toggle  {
        padding: 2px 10px 3px 8px;
        background-color: #f4f2f0;
        border: 1px solid rgba(0,0,0,0.05);
        border-radius: 100%;
        margin-top: 17px;
        margin-left: 5px;
        position: relative;
        z-index: 1;
    }

}

@media(min-width:992px){
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    #aktuelles h1 {
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    .aktuelles {
        font-family: 'Source Sans', serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
    }
    #aktuelles h2 {
        font-family: 'Source Sans', serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
    }
    #aktuelles p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
    }
    .aktuell ul li {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
        margin-left: -20px !important;
    }
    .aktuell a{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #968170 !important;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none !important;
    }
    .aktuell a:hover{
        text-decoration: none !important;
        color: #3c292c !important;
    }
    .btr {
        border-top: 1px solid #968170;
        float: right;
    }
    .btl {
        border-top: 1px solid #968170;
        float: left;
    }
    .aktuell img {
        width: 100%;
        height: auto;
    }
    .ausrichtung {
        text-align: right;
    }
    .right {
        margin-right: -15px;
    }
    .left {
        margin-left: -15px;
    }



    .footer ul{
        margin-left: 0px;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer ul li{
        display: inline-block;
        float: none;
        text-align: center;
    }
    .footer a{
        text-decoration: none;
    }
    .einrueckung {
        margin-left: 0px;
    }
    .bg-footer {
        height: auto;
        padding-top: 50px;
        background-color: #f4f2f0;
    }

    #footer .text-right {
        text-align: center;
    }

    .team1 {
        margin-bottom: 20px;
        text-align: left;
    }
    .ml {
        margin-left: 0px
    }

    #contact h1 {
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin-bottom:40px;
    }
    .contact h3{
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 300;
        margin-top: 70px;
        text-align: center;
        text-transform: uppercase;
    }
    .border {
        border: 1px solid #968170;
        margin: 20px 0px;
    }
    .contact-text {
        text-align: center;
    }
    .contact-text a {
        text-align: center;
        text-decoration: none;
    }
    .icn {
        font-size: 3em !important;
    }
    .icn-size {
        font-size: 2em;
    }
    .abstand {
        margin-left: 20px !important;
    }
    #map {
        width: 100%;
        height: 500px;
    }
    .form-control:focus {
        border-color: #968170 !important;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 129, 112, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(150, 129, 112, .6);
    }


}

@media(min-width:992px){
    body {
        padding-top: 196px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 0 13px;
    }
    .navbar-default .navbar-nav > li:first-child > a {
        padding-left: 0;
    }
    .navbar-default .navbar-nav > li:last-child > a {
        padding-right: 0;
    }
    #aktuelles {
        margin-top: 50px;
    }

    .aktuelles {
        font-family: 'Source Sans', serif;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    #aktuelles p{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
    }
    .aktuell ul li {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #3c292c !important;
        font-size: 15px;
        font-weight: 400;
        margin-left: -20px !important;
    }
    .aktuell a{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        color: #968170 !important;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none !important;
    }
    .aktuell a:hover{
        text-decoration: none !important;
        color: #3c292c !important;
    }
    .btr {
        border-top: 1px solid #968170;
        float: right;
    }
    .btl {
        border-top: 1px solid #968170;
        float: left;
    }
    .aktuell img {
        width: 100%;
        height: auto;
    }
    .ausrichtung {
        text-align: right;
    }
    .right {
        margin-right: -15px;
    }
    .left {
        margin-left: -15px;
    }
    #footer .text-right {
        text-align: center;
    }
    .ml {
        margin-left: 70px
    }
}
@media(min-width:1200px){
    .btr {
        border-top: 1px solid #968170;
        float: right;
    }
    .btl {
        border-top: 1px solid #968170;
        float: left;
    }
    .aktuell img {
        width: 100%;
        height: auto;
    }
    .ausrichtung {
        text-align: right;
    }
    .right {
        margin-right: -15px;
    }
    .left {
        margin-left: -15px;
    }
}

.mail {
    display: none !important;
}